<footer class="row py-5 my-5 border-top footer">
  <div class="ms-5 mt-4">
    <h5 class="fw-bold text-primary">Hội tin học Việt Nam</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-3 mt-2 text-primary">Tổng biên tập: Ông Nguyễn Long</li>
      <li class="nav-item mb-2">
        <div class="d-flex">
          <p class="fw-bold">Địa chỉ:</p>
          <p class="ms-1">6th floor, 14 Tran Hung Dao Str., Hanoi,Vietnam </p>
        </div>
      </li>
      <li class="nav-item mb-2">
        <div class="d-flex">
          <p class="fw-bold">Tel:</p>
          <p class="ms-1">84-24-38211725</p>
        </div></li>
      <li class="nav-item mb-2">
        <div class="d-flex">
          <p class="fw-bold">Fax:</p>
          <p class="ms-1">84-24-38211708</p>
        </div>
      </li>
      <li class="nav-item mb-2">
        <div class="d-flex">
          <p class="fw-bold">Email:</p>
          <p class="ms-1">office@vaip.vn</p>
        </div>
      </li>
    </ul>
  </div>
</footer>
