.img-container {
    width: 100%;
    height: 120px;
    background-color: aliceblue;
}

.container-fluid {
    justify-content: end;
    padding-left: 4%;
}

#btnsidebarToggle {
    width: 42px;
    height: 42px;
    margin-left: 8px;
}

.img-band {
    float: right;
}

.navbar {
    padding: 2px;
}

.logo {
    height: 120px;
    padding: 4px;
    margin-left: 48px;
    background-color: aliceblue;
    border-radius: 50%;
}

.icon {
    color: #fff;
    margin: 0 12px;
}

.icon-menu {
    color: #fff;
}

.search-btn {
    width: 50px;
    margin-right: 10px;
}

/* logo */
.logo-container {
    width: 100%;
    background-color: #8d0003;
    height: 130px;
}

.logo-img { 
    margin-left: 8%;
    height: 100%;
    margin-top: 8px;
    transform: scale(1.25);
}


/* Menu */
@media (min-width: 992px){
    .dropdown:hover .dropdown-menu {
        position: absolute;
        display: block;
    }
    
}

/* .navbar-light .navbar-nav .nav-link, */
.bg-menu {
    background-color: #971b1e;
}

.dropdown-item:hover {
    background: #971b1e;
}

.nav-item {
    padding: 0 10px;
}


/* responsive */
@media (max-width: 690px) {
    .d-flex .form-control {
        display: none !important;
    }
}

@media (max-width: 576px) { 
    .navbar-mobile {
        display: none;
    }
}



