<nav class="navbar navbar-mobile navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="text-decoration-none" href=""><i class="icon ti-facebook"></i></a>
    <a class="text-decoration-none" href=""><i class="icon ti-youtube"></i></a>
    <a class="text-decoration-none" href=""><i class="icon ti-mobile"> 03545484881</i></a>
    <a class="text-decoration-none" href=""><i class="icon ti-email"> demo@gmail.com</i></a>
    <form class="d-flex f-right">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn search-btn btn-outline-danger ti-search" type="submit"></button>
    </form>
  </div>
</nav>

<!-- logo -->
<div class="logo-container">
  <img src="../../../assets/TRUNG ML 2.png" alt="logo-VAIP" class="logo-img">
</div>

<!-- Menu -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-menu">
    <div class="container-fluid">
      <a class="navbar-brand text-light mf-10" href="#">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"> 
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Giới thiệu chung
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Giới thiệu VAIP</a></li>
              <li><a class="dropdown-item text-light" href="#">Danh sách BCH</a></li>
              <li><a class="dropdown-item text-light" href="#">Danh sách BKT</a></li>
              <li><a class="dropdown-item text-light" href="#">Hoạt động của hội</a></li>
              <li><a class="dropdown-item text-light" href="#">Hội đồng TW</a></li>
              <li><a class="dropdown-item text-light" href="#">Điều lệ</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Tin tức ICT
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Tin tức</a></li>
              <li><a class="dropdown-item text-light" href="#">Quốc tế</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Môi trường - Chính sách
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Tin tức đánh giá - nhận định</a></li>
              <li><a class="dropdown-item text-light" href="#">Văn bản chính sách</a></li>
              <li><a class="dropdown-item text-light" href="#">Tiêu chí ICT index</a></li>
              <li><a class="dropdown-item text-light" href="#">Báo chí VN ICT index</a></li>
              <li><a class="dropdown-item text-light" href="#">Download</a></li>
              <li><a class="dropdown-item text-light" href="#">Smart City</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Doanh nghiệp - Hội viên
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Tin tức</a></li>
              <li><a class="dropdown-item text-light" href="#">Sản phẩm</a></li>
              <li><a class="dropdown-item text-light" href="#">Giải pháp</a></li>
              <li><a class="dropdown-item text-light" href="#">Báo giá</a></li>
              <li><a class="dropdown-item text-light" href="#">Bóng đá ICT</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Sản phẩm - Công nghệ
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Viễn thông</a></li>
              <li><a class="dropdown-item text-light" href="#">Công nghệ thông tin</a></li>
              <li><a class="dropdown-item text-light" href="#">Thị trường công nghệ</a></li>
              <li><a class="dropdown-item text-light" href="#">Chia sẻ kinh nghiệm</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Nguồn lực cho CNTT
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Tin tức</a></li>
              <li><a class="dropdown-item text-light" href="#">Đào tạo</a></li>
              <li><a class="dropdown-item text-light" href="#">Việc làm, nhu cầu</a></li>
              <li><a class="dropdown-item text-light" href="#">Định hướng nghề</a></li>
              <li><a class="dropdown-item text-light" href="#">Các thông tin</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Xã hội ICT
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Tin tức chung</a></li>
              <li><a class="dropdown-item text-light" href="#">Các hoạt động Xã hội - NN</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Lịch sử tin học VN
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Trước 60 năm</a></li>
              <li><a class="dropdown-item text-light" href="#">Thế hệ máy tính</a></li>
              <li><a class="dropdown-item text-light" href="#">Vi tính</a></li>
              <li><a class="dropdown-item text-light" href="#">Mạng</a></li>
              <li><a class="dropdown-item text-light" href="#">Internet</a></li>
              <li><a class="dropdown-item text-light" href="#">VAIP</a></li>
              <li><a class="dropdown-item text-light" href="#">Ý kiến cộng đồng</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              Hội viên
            </a>
            <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-light" href="#">Hội viên tập thể</a></li>
              <li><a class="dropdown-item text-light" href="#">Hội tin học thành viên</a></li>
              <li><a class="dropdown-item text-light" href="#">Các chi hội TW</a></li>
              <li><a class="dropdown-item text-light" href="#">Tổ chức - điều lệ</a></li>
              <li><a class="dropdown-item text-light" href="#">Download mẫu</a></li>
              <li><a class="dropdown-item text-light" href="#">Thành lập Hội THVN</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
              More
              <i class="ti-menu icon-menu"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
</nav>
<!-- End menu -->





