<!-- content famous -->
<div class="main-content-container">
  <div class="content-container">
    <div class="famous-content ms-3 mb-3">
      <a href="" class="text-decoration-none">
        <img src="../../../assets/img-famous.jpg" alt="" class="content-img p-3">
        <h5 class="title-content text-dark">
          Vòng chung kết kỳ thi lập trình đỉnh cao VNOI CUP 2022 sẽ diễn ra vào lúc 9h ngày 22/7
        </h5>
      </a>
        <h6 class="wrap-text-content fw-light">
          Ngày 21-22/7/2022, lần đầu tiên tại Việt Nam, tổ chức Vòng chung kết Kỳ thi Lập trình đỉnh cao VNOI CUP 2022 - do CLB Olympic Tin học Việt Nam chủ trì dưới sự bảo trợ của Bộ Thông tin và Truyền thông và Hội Tin học Việt Nam. Trường Đại học Công nghệ thông tin và Truyền thông Việt - Hàn (VKU), Đại học Đà Nẵng đăng cai tổ chức. Tập đoàn Công nghệ FPT là nhà tài trợ chính.
        </h6>
        <button type="button" class="btn btn-success"><a href=""></a> Xem thêm</button>
    </div>
    <div class="list-famous-content">
      <ul class="list-content">
        <li class="mt-2">
          <h3 class="list-name mt-3 px-3 pe-4">Tin tức nổi bật</h3>
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/img-famous.jpg" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">Vòng chung kết kỳ thi lập trình đỉnh cao VNOI CUP 2022 sẽ diễn ra vào lúc 9h ngày 22/7</a>
            </div>          
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/tong-thu-ky-hoi-tin-hoc-viet-nam-can-som-co-bo-nhan-dien-chuyen-doi-so-quoc-gia.jpg" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">Tổng thư ký Hội Tin học Việt Nam: 'Cần sớm có bộ nhận diện Chuyển đổi số quốc gia”</a>
            </div>
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/top 10 coder.jpg" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">Lộ diện top 10 coders tài năng xuất sắc giành vé tham dự Chung kết VNOI CUP 2022 sau 3 vòng loại</a>
            </div>
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/VNOI_Round_1_-_Vie-01.jpg" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">Gần 1.000 Lập trình viên người Việt tham gia vòng online đầu tiên VNOI CUP 2022</a>
            </div>
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/apix-egypt.png" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">Việt Nam xuất sắc đoạt 3 huy chương Vàng tại Olympic Tin học Châu Á năm 2022</a>
            </div>
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/vnoi-cup.jpg" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">Lần đầu tiên tổ chức VNOI CUP tìm kiếm Top 12 lập trình viên trẻ người Việt đẳng cấp nhất</a>
            </div>
        </li>
        <li>
            <div class="list-famous-content-item mt-1 p-2">
              <img src="../../../assets/icpc.png" alt="" class="content-fomous-img">
              <a href="" class="link-content text-dark text-decoration-none">30 năm Olympic Tin học Sinh viên Việt Nam, 15 năm Việt Nam hội nhập Kỳ thi lập trình sinh viên Quốc tế ICPC</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- tin tức ICT -->
<div class="main-content-container">
  <div class="content-container">
    <div class="title">
      <h4 class="text-danger">Tin tức ICT</h4>
      <div class="decoration d-flex">
        <div class="p-1 bg-danger w-10"></div>
        <div class="p-1 bg-secondary w-90"></div>
      </div>
    </div>
    <!-- content -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm m-4 bg-success">
          <a class="text-decoration-none" href="">
            <img src="" alt="" class="content-item-img content-img">
            <h3 class="text-dark mt-2 title-content">Title</h3>
          </a>
        </div>
        <div class="col-sm m-4 bg-warning">
          <a class="text-decoration-none" href="">
            <img src="" alt="" class="content-item-img content-img">
            <h3 class="text-dark mt-2 title-content">Title</h3>
          </a>
        </div>
        <div class="col-sm m-4 bg-danger">
          <a class="text-decoration-none" href="">
            <img src="" alt="" class="content-item-img content-img">
            <h3 class="text-dark mt-2 title-content">Title</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Moi truong - chinh sach -->
<div class="main-content-container">
  <div class="content-container">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="text-danger">Môi trường - Chính sách</h4>
        <div class="decoration d-flex">
          <div class="p-1 bg-danger w-10"></div>
          <div class="p-1 bg-secondary w-90"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <h4 class="text-danger">Đọc nhiều nhất</h4>
        <div class="decoration d-flex">
          <div class="p-1 bg-danger w-10"></div>
          <div class="p-1 bg-secondary w-90"></div>
        </div>
      </div>
    </div>
    <div class="row mt-3 ms-2">
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
    </div>
  </div>
</div>

<!-- doi tac -->
<div class="partner">
    <div class="wrap-body">
      <span class="wrap-title text-uppercase">Đơn vị hội viên</span>
      <div class="partner-body">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/FPT.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/LOGO-MOBIFONE-PNG.png" alt=""/>
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/VNPT.png" alt=""/>
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/CMC CORP.png" alt=""/>
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/FPT-IS.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/viettel.png"  alt=""/>
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/VNPT-Tech.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/FPT-uni.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/logo CMC TS rut gon.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/hongco.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/harmory soft.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/hipt.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/tinhvan.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/Logo_MISA.svg.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/viettronics.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/netnam-logo-vector.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/netcom.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/tf-group.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/FPT_Software_Logo.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/SaoBacDau.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/dvl-tech.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/centech.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/nisci.jpg" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/minhviet.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/astec.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/htc-itc.png" alt="" />
              </div>
            </div><div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/mediaone.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/cimsi.png" alt="" />
              </div>
            </div>
            <div class="slide">
              <div class="partner-body-item">
                <img src="../../../assets/logo-hoivien/cms.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
