/* content */
.main-content-container {
  display: flex;  
  justify-content: center;
  height: auto;
}

.content-container {
  width: 70%;
  margin-top: 40px;
  /* background: rgb(209, 224, 250); */
  height: auto;
}

.famous-content {
  width: 60%;
  float: left;
  position: relative;
  display: block;
}

.content-img {
  height: 400px;
}

.content-img:hover {
  transform: scale(1.01);
}

.title-content {
  font-size: 18px;
}

.title-content:hover {
  color: rgb(255, 101, 101) !important;
}

.list-famous-content {
  width: 35%;
  float: right;
  position: relative;
  display: block;
  height: 100%;
  justify-content: center;
}

.list-content {
  list-style-type: none;
  padding: 0;
  margin-right: 8px;
  line-height: 18px;
}

.watch-all {
  margin-bottom: 0;
}

.watch-all:hover {
  color: #971b1e;
}

.list-name {
  background-color: #971b1e;
  color: #fff;
  display: inline;
  border-top-right-radius: 36px;
}

.list-famous-content-item {
  height: 110px;
  font-size: 18px;
  border-radius: 4px;
  display: flex;
  line-height: 24px;
}



.content-fomous-img {
  width: 110px;
  margin-right: 8px;
}

.content-fomous-img:hover {
  transform: scale(1.02);
}

.link-content:hover {
  color: rgb(255, 101, 101) !important;
}

.list-content-item {
  height: 62px;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  line-height: 24px;
}

.ads-img {
  height: 100%;
}

.giaothuong-img {
  height: 200px;
  /* padding-right: 100px; */
}

.giaothuong-img:hover {
  transform: scale(1.01);
}


/* doi tac */
.partner {
    float: left;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    padding: 35px 30px;  
    margin-top: 250px;
}

.partner-body {
  width: 100%;
}

.partner-body-item {
  float: left;
  width: 220px;
  background-color: #fff;
  padding: 16px;
  align-items: center;
  border-radius: 12px;
  margin-right: 25px; 
}

img {
  height: 72px;
  width: 100%;
}
  
@mixin white-gradient {
    background: linear-gradient(to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%);
}
  
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-250px * 6));
    }
}
.slider {
    height: 105px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 5px;   
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 12);
    animation-timing-function: steps(20 end);
}

.slide {
  width: 20%;
}

.slider::before,
.slider::after {
  @include white-gradient;
  content: "";
  height: 105px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
  
  .slider:hover>div {
    animation-play-state: paused;
  }
  
/* responsive */
@media (max-width: 1400px){
  .content-container {
    width: 100%;
  }
}

@media (max-width: 992px){
  .famous-content {
    width: 100%;
  }
  .list-famous-content {
    display: none;
  }
  .content-container {
    margin-right: 24px;
  }
  .content-fomous-img {
    display: none;
  }
  .content-img {
    height: 244px;
  }
  .giaothuong-img {
    padding-right: 24px;
  }
  .wrap-text-content,
  .title-content-famous {
    padding: 0 14px;
  }
  .more-btn {
    margin-left: 14px;
  }
  .title {
    padding-left: 12px;
  }
  .ICT-new {
    padding-right: 36px;
  }
  .most-read {
    display: none;
  }
  .mt-cs {
    padding-left: 24px;
  }
  .ads-img {
    display: none;
  }
  .list-content {
    margin-left: 12px;
  }
  .card-container {
    margin-left: 12px;
  }
}