<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb ms-5">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>

<div class="title-container">
    <div class="title">
        <h3 class="text-dark fw-bold text-uppercase">Tin tức ICT</h3>
    </div>
    <div class="filter">
        <select class="form-select" aria-label="Default select example">
            <option selected>Bộ lọc</option>
            <option value="1">Mới nhất</option>
            <option value="2">Cũ nhất</option>
            <option value="3">Nổi bật nhất</option>
        </select>
    </div>
</div>

<!-- content -->
<div class="content-container">
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="">
                <img src="" alt="" class="img-content">
                <p>Title</p>
            </a>
          </div>
          <div class="col d-block">
            <a class="w-100" href="">
                <img src="" alt="" class="img-content">
                <p>Title</p>
            </a>
            <a class="w-100" href="">
                <img src="" alt="" class="img-content">
                <p>Title</p>
            </a>
          </div>
          <div class="col d-block">
            <a class="w-100" href="">
                <img src="" alt="" class="img-content">
                <p>Title</p>
            </a>
            <a class="w-100" href="">
                <img src="" alt="" class="img-content">
                <p>Title</p>
            </a>
          </div>
        </div>
      </div>
</div>
