/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

html {
    scroll-padding-top: 200px;
}

.mf-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.w-10 {
    width: 10%;
}

.w-90 {
    width: 90%;
}

.h-350 {
    height: 350px;
}
